html, body {
    width: 100%;
    height: 100%;
}

/* 固定定位与绝对定位 */
.header-container {
    position: fixed; 
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 1000;
    background-color: rgb(222, 24, 27, 0.9);
}

.navbar {
    display: flex;
    height: 100%;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-left, .navbar-right {
    width: 2.2rem;
}

.navbar-center {
    flex: 1;
}

.navbar-left .iconfont, .navbar-right .iconfont {
    font-size: 1.2rem;
    color: white;
}

.searchBox {
    display: flex;
    width: 100%;
    height: 1.6rem;
    border-radius: 0.8rem;
    background-color: white;
}

.searchBox-prepend, .searchBox-input, .searchBox-append {
    height: 100%;
}

.searchBox-prepend, .searchBox-append {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
}

.searchBox-input {
    flex: 1;
}

.searchBox .iconfont {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: bold;
}

[data-dpr="2"] body,
[data-dpr="2"] a,
[data-dpr="2"] input {
    font-size: 24px;
}

[data-dpr="2"] body,
[data-dpr="2"] a,
[data-dpr="3"] input {
    font-size: 36px;
}

